*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.debug {
  background-color: rgba(227, 62, 62, 0.5);
  border: 1px solid black;
height: 100vh;}


.debug2 {
  background-color: rgba(62, 150, 227, 0.5);
  border: 1px solid black;
min-height: 50px;}



.offcanvas-size-xl {
  --bs-offcanvas-width: min(95vw, 600px) !important;
}
.row img {
  width: 100%;
}

.logo2 img{
  width: 100%;
}
.offcanvas.offcanvas-end{
  width: 1000px;
}

@media screen and {
  
}

td {
  width: 100%;
}

.header2{
  min-height: 100px;
  background-color: rgb(6, 113, 185);
  color: white;
}

.lat {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}

/*
@media screen and (max-width: 800px) {
  .simbols {
    display: block;
  }
  .desktop {
    display: none;
  }
}


ul li {
  list-style: none;
}

ul {
  padding-top: 20px;
}